
:root {
  --default: #121213;
  --empty: #777777;
  --wrong: #b59f3b;
  --right: #538d4e;
}

.container-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

#game {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 5rem;
  width: 100%;
  height: 72vh;
}

#stop-timer, #start-timer, #reset-timer{
  background: none;
  border: none;
} 

.grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid var(--empty);
  margin: 2px;
  color: black;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
}

.box.empty {
  background: var(--empty);
}

.box.wrong {
  background: var(--wrong);
}

.box.right {
  background: var(--right);
}

.animated {
  animation: flip 0.5s ease;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}


hr {
  border-style: solid;
  border-color: var(--empty);
  border-width: 1px;
}

.v-separator {
  margin-left: 1rem;
  margin-right: 1rem;
}
